{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "react-app",
    "prettier"
  ],
  "plugins": [
    "react",
    "prettier"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "all",
        "semi": true,
        "no-mixed-spaces-and-tabs": [
          "error",
          "smart-tabs"
        ],
        "no-unused-vars": [
          "error"
        ],
        "arrowParens": "always"
      }
    ]
  }
}
